
body {
  font-family: sans-serif;
  background: #03030e;
  color: white;
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2rem;
  z-index: 2;
  animation: pulsar-header 1.2s infinite alternate; 

}

h1 {
  font-size: 2.5rem;
  color: #8d43dc;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  color: #43dcd8;
  margin-top: 0;
  font-weight: normal;

}

@keyframes pulsar-header {
  0% { transform: scale(1);}
  100% { transform: scale(1.08);}
}


#logo-img {
  display: block;
  margin: 20px auto 40px auto; 
  max-width: 180px;
  animation: pulsar-logo 1.2s infinite alternate;
}

@keyframes pulsar-logo {
  0% { transform: scale(1);}
  100% { transform: scale(1.15);}
}

button {
  background-color: #8d43dc;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.container {
  position: relative; 
  background: #16213e;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 20px white;
  transition: box-shadow 0.5s;
  overflow: hidden; /* Troque de visible para hidden */
  margin-top: 40px;      
  margin-left: auto;
  margin-right: auto;
} 

.container::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 16px;
  z-index: -1;
  background: conic-gradient(
    #8d43dc,
    #a04ce0,
    #43dcd8,
    #8d43dc
  );
  filter: blur(4px);
  animation: girar-brilho 2s linear infinite;
}

@keyframes girar-brilho {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


button:hover {
  background-color: #a04ce0;
  transform: scale(1.08);

}